<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style2.css') }}">
        <title>Locations List</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <h1>Get User Wishlist:</h1>
            </div>

            <div class="row sort_by">
                <form action="{{ url_for('view_wishlist')}}" method="post">
                    <div>Enter username here to view list:</div>
                    <input type="text" size="40" name="username" placeholder="username">
                    <input type="submit" value="Get List" style="color:black">
                </form>
            </div>
            <br>
            <div class="row">
                <p style="display:inline">User account creation functionality still in progress.</p>
                <br>
                <p style="display: inline">In the meantime, here are some usernames already in the database:</p>
                    <ul class="sample_users">
                        <li>user1</li>
                        <li>other_user4</li>
                        <li>funny_guy10</li>
                    </ul>
            </div>

        </div>
    </body>
</html>

